# Editor that support EditorConfig, or have its extension installed,
# will read this config and apply settings to your editor,
# so we can have consistent code style across different editors.
#
# See:
# - https://editorconfig.org
# - https://spec.editorconfig.org
#
# Important note:
#
# Files are read top to bottom and the most recent rules found take precedence.
# If multiple EditorConfig files have matching sections,
# the rules from the closer EditorConfig file are read last,
# so pairs in closer files take precedence.

root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
quote_type = single
semicolon = false

[*.mjs, *.js, *.cjs, *.ts, *.json]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.yml, *.yaml]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

